doctype html
html.no-js(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title TKPPL
    meta(name='description', content='Draggable Dual-View Slideshow: A Slideshow with two views and content area')
    meta(name='keywords', content='draggable, slideshow, fullscreen, carousel, views, zoomed, 3d transform, perspective, dragdealer')
    meta(name='author', content='Codrops')
    link(rel='shortcut icon', href='../favicon.ico')
    link(href='http://fonts.googleapis.com/css?family=Playfair+Display:900,400|Lato:300,400,700', rel='stylesheet', type='text/css')
    link(rel='stylesheet', type='text/css', href='css/normalize.css')
    link(rel='stylesheet', type='text/css', href='css/demo.css')
    link(rel='stylesheet', type='text/css', href='css/dragdealer.css')
    link(rel='stylesheet', type='text/css', href='css/component.css')
    script(src='js/modernizr.custom.js')
  body
    .container
      .codrops-top.clearfix
        a.codrops-icon.codrops-icon-prev(href='https://trello.com/b/mkTYiRKX/microsoft-hololens/')
          span Trello TheTeam21
        span.right
          a.codrops-icon.codrops-icon-drop(href='https://github.com/TheTeam21/Berbagi.git')
            span Server GitHub TheTeam21
      header#header.codrops-header
        h1
        span.message This mobile version does not have the slideshow switch
        button.slider-switch Switch view
      #overlay.overlay
        .info
          h2 Demo interactions
          span.info-drag Drag Sliders
          span.info-keys Use Arrows
          span.info-switch Switch view
          button Got it!
      #slideshow.dragslider
        section.img-dragger.img-dragger-large.dragdealer
          .handle
            .slide(data-content='content-1')
              .img-wrap
                img(src='img/1.jpg', alt='img1')
              h2
                | Teknologi Google Glass
                span TheTeam21
              button.content-switch Read more
            .slide(data-content='content-2')
              .img-wrap
                img(src='img/2.jpg', alt='img2')
              h2
                | Google Glass
                span TheTeam21
              button.content-switch Read more
            .slide(data-content='content-3')
              .img-wrap
                img(src='img/3.jpg', alt='img3')
              h2
                | Pengembangan Google Glass
                span TheTeam21
              button.content-switch Read more
            .slide(data-content='content-4')
              .img-wrap
                img(src='img/4.jpg', alt='img4')
              h2
                | Fitur Google Glass
                span TheTeam21
              button.content-switch Read more
            .slide(data-content='content-5')
              .img-wrap
                img(src='img/5.jpg', alt='img5')
              h2
                | Perbandingan 
                span TheTeam21
              button.content-switch Read more
        // /img-dragger
        // Content section
        section.pages
          .content(data-content='content-1')
            .img-wrap
              img(src='img/g.jpg', alt='g')
            h2 Disusun Oleh
            p 1. 151111186 - Ade Ryanda
            p 2. 151112581 - Dines
            p 3. 151110750 - Ghuffran Diaskara
            p 4. 151111933 - Lois David Ginting
            p.related TheTeam21
          .content(data-content='content-2')
            .img-wrap
              img(src='img/sfw.jpg', alt='sfw')
            h2 Google Glass
            p
              | Google Glass adalah kacamata yang dipasangkan teknologi untuk memudahkan pengguna dalam melakukan aktivitas yang berbau teknologi yang dikembangkan oleh perusahaan google sendiri, dan Google Glass ini disebut juga "kacamata pintar" atau bisa juga dibilang sebagai perpanjangan dari layar smartphone untuk melakukan serangkaian tugas-tugas sederhana yang di lakukan smartphone dalam bentuk sebuah kacamata kacamata.
            p
              | Google Glass menampilkan informasi dalam format handsfree dengan layar virtual tanpa smartphone. Pemakai berkomunikasi dengan Internet melalui perintah suara bahasa alami atau dengan menyentuh layar virtual.  Google Glass juga memudahkan pengguna dalam melakukan pengambilan gambar karena dilengkapi oleh kamera yang kecil yang disematkan pada perangkat tersebut.
            p.related TheTeam21
          .content(data-content='content-3')
            .img-wrap
              img(src='img/holo.jpg', alt='holo')
            h2 Pengembangan
            p
              | Google Glass dikembangkan oleh perusahaan raksasa Google yang ditujukan untuk kemajuan teknologi seperti mobil tanpa sopir dan yang lainnya.  Prototipe Google Glass menyerupai kacamata standar dengan lensa yang diganti dengan layar head-up. Google Glass ini mulai dirilis pada awal 2013 tepatnya bulan februari 2013. Google Glass awalnya juga disebut "Penjelajah Kaca" karena pengguna dapat berselancar di internet lewat sebuah kacamata.
            p.related TheTeam21
          .content(data-content='content-4')
            .img-wrap
              img(src='img/h.jpg', alt='h')
            h2 Fitur 
            p
              | Dengan antarmuka yang sangat sederhana Google Glass menawarkan beberapa fitur. Dan untuk menikmati seluruh fitur yang ada pada Google Glass, Anda cukup mengawalinya dengan kalimat “Ok Glass” atau bisa dengan menyentuh layar virtual nya . Fitur-fitur yang ditawarkan oleh Google Glass yaitu:
            p – Mengambil Foto dan merekam Video
            p – Fitur Berbagi ke jejaring sosial  
            p – GPS
            p – Kirim Pesan
            p – Googling atau cari info langsung ke Google
            p – Google Translate
            p – Asisten Pribadi
            p.related TheTeam21
          .content(data-content='content-5')
            .img-wrap
              img(src='img/i.jpg', alt='i')
            h2
              | Perbedaan Google Glass dengan Headset VR lainnya 
              span TheTeam21
            p
              | Berbeda dengan Kebanyakan Headset Virtual Reality lain nya Google Glass tidak Perlu di satukan ke smartphone untuk dapat di gunakan seperti pada kebanyakan headset virtual reality lain nya tapi google glass dapat di hubungkan dengan smartphone android untuk dapat mengakses fitur yang ada di smartphone android kita seperti mendapatkan notifikasi pesan atau email yang di tampilkan di layar virtual di google glaass
            p.related
              | TheTeam21
              a(href='http://tympanus.net/Development/ArticleIntroEffects/')
    // /container
    script(src='js/dragdealer.js')
    script(src='js/classie.js')
    script(src='js/dragslideshow.js')
    script.
      (function() {
      var overlay = document.getElementById( 'overlay' ),
      overlayClose = overlay.querySelector( 'button' ),
      header = document.getElementById( 'header' )
      switchBtnn = header.querySelector( 'button.slider-switch' ),
      toggleBtnn = function() {
      if( slideshow.isFullscreen ) {
      classie.add( switchBtnn, 'view-maxi' );
      }
      else {
      classie.remove( switchBtnn, 'view-maxi' );
      }
      },
      toggleCtrls = function() {
      if( !slideshow.isContent ) {
      classie.add( header, 'hide' );
      }
      },
      toggleCompleteCtrls = function() {
      if( !slideshow.isContent ) {
      classie.remove( header, 'hide' );
      }
      },
      slideshow = new DragSlideshow( document.getElementById( 'slideshow' ), {
      // toggle between fullscreen and minimized slideshow
      onToggle : toggleBtnn,
      // toggle the main image and the content view
      onToggleContent : toggleCtrls,
      // toggle the main image and the content view (triggered after the animation ends)
      onToggleContentComplete : toggleCompleteCtrls
      }),
      toggleSlideshow = function() {
      slideshow.toggle();
      toggleBtnn();
      },
      closeOverlay = function() {
      classie.add( overlay, 'hide' );
      };
      // toggle between fullscreen and small slideshow
      switchBtnn.addEventListener( 'click', toggleSlideshow );
      // close overlay
      overlayClose.addEventListener( 'click', closeOverlay );
      }());